body, .ionic-body{
	height: 100vh;
    position: absolute;
}

.content{
	position: absolute;
	left:0;
	right: 0;
    top: 0;
    bottom: 0;
}

.content.has-header{
    top: 44px;
}

.content.has-footer{
    bottom: 44px;
}

.content-with-scroll{
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.scroll-content{
    overflow: hidden;
    background: white;
    position: static;
}

.scroll-content.force-scroll{
    min-height: calc(100% + 2px);
}

.refresh-puller{
    position: absolute;
    left: 0;
    right: 0;
    height: 80px;
}

.refresh-puller.active{
    position: absolute;
    left: 0;
    right: 0;
}

.refresh-puller{
    text-align: center;
}

.refresh-puller .icon{
    display: block;
    font-size: 3em;
}

.refresh-puller .label{
    display: block;
}

.refresh-puller.active .icon{
    transform: rotate(-180deg);
    transition-duration: 0.4s;
}

.menu.inactive {
    opacity: 0;
    transition-delay: 0.2s;
}

.menu.active+.menu-content{
    transform: translate3d( 275px, 0, 0 );
}